// example: {'goal_id': '8asb89ash98f7', 'points': [[1.5, 1.5], [-1.5, 1.5], [-1.5, -1.5], [1.5, -1.5]]},
const goals = [
{goal_rows}
];

// example: {'time': 29837465, 'goal_id': '8asb89ash98f7', 'goal_index': 0, 'goal_point': 0, 'x': 0, 'y': 0, 't': 0, 'walls': []},
const tracking = [
{tracking_rows}
];